@import 'vars';
@import 'global';
@import 'fonts';

.header, .page-section {
    margin-bottom: 80px;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    @include SFbold;
}

.menu__item {
    display: inline-block;
    &+.menu__item {
        padding-left: 50px;
    }
}
.header__box {
    display: flex;
}

.header__adress {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url('..//images/icons/adress.svg');
        left: 0;
        top: -10px;
        height: 30px;
        width: 30px;
    }
}

.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
    &__item {
        padding-right: 10px;
    }
    &__link.basket {
        position: relative;
        .basket__num {
            @include SFmedium;
            position: absolute; 
            height: 20px;
            width: 20px;
            font-size: 10px;
            line-height: 20px;
            border-radius: 50%;
            background-color: $blue;
            bottom: -10px;
            right: -10px;
            color: #fff;
            text-align: center;
        }
    }
}

.menu-categories{
        display: flex;
        background-color: $grey;
        justify-content: space-around;
        min-height: 53px;
        &__link {
            @include SFregular;
            transition: all .5s;
            padding: 15px 0 14px;
            position: relative;
            font-size: 17px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &::before {
                content: '';
                width: 0;
                left: auto;
                right: 0;
                position: absolute;
                background: $blue;
                height: 3px;
                bottom: -2px;
                transition: all .3s;
            }
            &:hover {
                @include SFsemibold;
                font-weight: 400;
                color: #000;
                &::before{
                    width: 100%;
                    right: auto;
                    left: 0;
                    
                }
            }
            
        }  
}

.banner-section__inner {
    display: flex;
    justify-content: space-between;
}

.banner-section__slider {
    max-width: 870px;
    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        bottom: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        border: none;
        cursor: pointer;
    }
    &__item {
        object-fit: contain;
        & img {
            object-fit: cover;
        }
    }
}

.banner-section__slider-btnprev{
    left: 20px;
}

.banner-section__slider-btnnext{
    right: 20px;
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    button {
        padding: 0;
        margin: 0;
        font-size: 0;
        height: 11px;
        width: 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: transparent;
        
    }
    li {
        display: inline-block;
        &+li {
            margin-left: 5px;
        }
        &.slick-active button {
            background-color: #fff;
        }
    }
}

.sale-item {
    max-width: 265px;
    max-height: 400px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__info {
        color: #fff;
        background-color: $blue;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
    } 
    &__price {
        text-align: right;
        
    }
    &__price-new {
        @include BAbold;
        font-size: 27px;
        color: $blue;
        line-height: 23px;
        margin-right: 6px;
        padding-right: 20px;
        margin-top: 9px;
        margin-bottom: 7px;
        &::after {
            content: '';
            background-image: url(../images/icons/icons-price.svg);
            position: absolute;
            top: 3px;
            width: 16px;
            height: 18px;
            right: 0px;
            background-repeat: no-repeat;
        }
    }
    &__price-old {
        @include BAregular;
        color: #C4C4C4;
        font-size: 14px;
        line-height: 17px;
        margin-right: 15px;
        background-image: url(../images/icons/old-line.svg);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        display: inline-block;
        &::after {
            content: '';
            background-image: url(../images/icons/icons-price-old.svg);
            position: absolute;
            top: 5px;
            width: 8px;
            height: 10px;
            right: -11px;
            background-repeat: no-repeat;
        }
    }
    &__footer {
        background-color: $grey;
        padding: 26px 20px 25px;
        font-size: 18px;
        line-height: 21px;
        & span {
            color: $blue;
            display: block;
            @include BAbold;
        }
    }
    &__title {
        font-size: 18px;
        line-height: 21px;
        @include BAbold;
        margin-bottom: 7px;
    }
    &__img {
        object-position: center;
        object-fit: contain;
        max-height: 170px;
    }
}

.price {
    position: relative;
}

.search {
    &__tabs {
        margin-bottom: 25px;
    }
    .tab {
        padding: 11px 26px 12px;
        &--active {
            border-radius: 5px;
            background-color: $grey;
            font-weight: 700;
        }
    }
    &-content {
        display: none;
    }
    &__content-form {
        display: flex;
    }
    // &__content 
    
    &__content-input {
        background-color: $grey;
        background-repeat: 3px;
        padding: 5px 20px;
        border: none;
        font-size: 16px;
        line-height: 19px;
        width: 100%;
        &::placeholder {
            color: #656464;
        }
    }
    &__content-btn {
        line-height: 17px;
        font-size: 14px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #fff;
        @include SFbold;
        background-color: $blue;
        padding: 17px 40px;
        border-radius: 3px;
        border: none;
        margin-left: -3px;
    }
}

.tabs-content {
    display: none;
    &--active {
        display: block;
    }
}

.categories {
    &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    &__item {
        margin-bottom: 30px;
        border-radius: 3px;
        border: 1px solid #CDCDCD;
        width: 370px;
        display: flex;
        padding: 20px 20px 16px;
        justify-content: space-between;
        transition: all .3s;
        &:hover {
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        }
        &:hover .categories__item-title {
            color: $blue;
        }
        &-info {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-img {
            text-align: center;
            width: 50%;
            img {
                max-width: 100%;
            }
        }
        &-title {
            @include BAbold;
            transition: all .3s;
        }
        &-text {
            line-height: 17px;
            font-size: 14px;
            color: #C4C4C4;
            position: relative;
            
            &::after{
                content: url('../images/icons/link-arrow.svg');
                padding-left: 2px;
            }
        }

    }
}

.product-item {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    height: 400px;
    transition: all .5s;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    &__wrapper {
        position: relative;
        max-width: 271px;
        // display: inline-block;
    }
    &__title {
        font-weight: normal;
        padding: 14px 0 25px;
        max-width: 200px;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
    }
    &__favorite {
        position: absolute;
        top: 16px;
        right: 19px;
        width: 24px;
        height: 22px;
        padding: 0;
        border: none;
        z-index: 5;
        background-color: transparent;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            width: 24px;
            z-index: 5;
            height: 22px;
            top: 0;
            left: 0;
            background-color: transparent;
            border: none;
            background-image: url('../images/icons/favorite.svg');
        }
    }
    &__favorite--active {
        &::before {
            background-image: url('../images/icons/favorite-active.svg');
        }
    }
    &__basket {
        position: absolute;
        width: 60px;
        height: 40px;
        background-color: $blue;
        border-radius: 10px 0 0 0;
        bottom: 0;
        right: 0;
        border: none;
        cursor: pointer;
        z-index: 10;
        &::before {
            content: '';
            position: absolute;
            background-image: url('../images/icons/basket-white.svg');
            width: 30px;
            height: 23px;
            background-repeat: no-repeat;
            top: 10px;
            left: 14px;
        }
    }
    &__price {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        
    }
    &__hover-text {
        padding: 18px 21px;
        background-color: rgba(255,255,255, .9);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        position: absolute;
        display: inline-block;
        top: 30%;
        opacity: 0;
        transition: all .5s;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 220px;
        
    }
    &:hover {
        .product-item__hover-text {
            transition: all .5s;
            opacity: 1;
            color: $maincolor;
        }
    
    &:hover {
            transition: all .5s;
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
            color: $blue;
        }
    
    }
    &--sale::before {
        content: 'SALE';
        padding: 8px 16px 8px;
        background-color: $blue;
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 0.07em;
        font-size: 12px;
        line-height: 14px;
    }
}

.products {
    margin-bottom: 80px;
}

.product-item__wrapper.product-item__not-available .product-item__price {
    display: none;
}

.product-item:hover .product-item__notify-text {
    color: $maincolor;
}

.product-item__notify-link {
    display: none;
}

.product-item__notify-text {
    display: none;
    @include SFbold;
    font-size: 18px;
    line-height: 21px; 
    color: $maincolor;
}

.product-item__wrapper.product-item__not-available {
    .product-item__notify-text {
        display: block;
        position: absolute;
        bottom: 53px;
        width: 100%;
        text-align: center;
    }
    .product-item__basket {
        display: none;
    }
    .product-item__notify-link {
        display: block;
        position: absolute;
        line-height: 19px;
        font-size: 16px;
        bottom: 22px;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        color: $blue;
        span {
            border-bottom: 1px solid $blue;
        }
    }

    }

.product__title {
    @include BAbold;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
}

.products__tabs {
    margin-bottom: 25px;
}

.products__tab + .products__tab {
    margin-left: 50px;
}

.products__tab {
    padding-bottom: 12px;
    &.tab--active {
        border-bottom: 2px solid $blue;
    }
}

.product-slider__slider {
    max-width: 870px;
    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        bottom: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        border: none;
        cursor: pointer;
    }
    &__item {
        object-fit: contain;
        & img {
            object-fit: cover;
        }
    }
}


.product-slider__slider-btnprev{
    left: -40px;
}

.product-slider__slider-btnnext{
    right: -40px;
}

.product__more-link {
    line-height: 18px;
    letter-spacing: 0.12em;
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px 43px;
    background: #f0f0f4;
}

.product__more {
    margin: 35px;
    text-align: center;
}

.product-slider {
    .slick-slide {
      margin: 0 25px;
    }
    
    .slick-list {
      margin-left: -25px;
      margin-right: -25px;
    }
}

.banner {
    margin-bottom: 80px;
}

.footer {
    background-color: $grey;
    &__bottom{
        padding: 46px 0 22px;
        display: flex;
        justify-content: center;
    }
    &__bottom-link {
        font-size: 10px;
        line-height: 12px;
        color: #48494D;
        margin: 0 40px;
    }
    &__top {
        padding-top: 43px;
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
    }
    &__top-title {
        @include SFbold;
        font-size: 14px;
        line-height: 17px;
    }
    &__top-item {
        width: 200px;
    }
    &__top-newslatter.footer__top-item{
        width: 295px;
        margin-right: 53px;
    }
    &-list {
        margin-top: 7px;
        font-size: 14px;
        line-height: 25px;
    }
}

.footer-form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.footer-form__input {
    background-color: #fff;
    border: none;
    font-size: 14px;;
    line-height: 17px;
    padding: 0 12px;
    &::placeholder {
        color: #C4C4C4;
    }
}

.footer-form__btn {
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: $blue;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    @include SFsemibold;
}

.footer__top-social.footer__top-item {
    width: 250px;
}

.social-list {
    display: flex;
    align-items: center;
    height: 100%;
    &__item + .social-list__item {
        margin-left: 30px;
    }
}

.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    color: #C4C4C4;
    font-size: 15px;
    line-height: 18px;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        background-image: url('../images/icons/link-arrow.svg');
        width: 6px;
        height: 9px;
        bottom: 6px;
    }
    &:last-child::after {
        display: none;
    }
}

.catalog {
    margin-bottom: 100px;
}

.catalog__title {
    @include SFbold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
}

.catalog__filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.catalog__filter-items button {
    opacity: 0.7;
    font-size: 14px;
    line-height: 17px;
    border-radius: 3px;
    background-color: #F0F0F4;
    border: none;
    padding: 5px 22px;
    cursor: pointer;
}

.catalog_-filter-items button + button {
    margin-left: 8px;
    cursor: pointer;
}

.catalog__filter-btn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.catalog__filter-brn button + button {
    margin-left: 10px;
}

// button.catalog__filter-btngrid{ 
    
// }

// .catalog__filter-btnline {

// }

.catalog__inner {
    display: flex;
    &-aside {
        width: 290px;
        margin-right: 10px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 870px;
        .product-item__wrapper {
            margin-bottom: 30px;
        }
    }
}

.pagination {
    width: 100%;
    margin-top: 70px;
}

.pagination-list {
    display: flex;
    justify-content: center;
}

.pagination-list__item {
    padding: 7px 12px;
    border: 2px solid transparent;
    margin: 0 11px;
    font-size: 18px;
    color: #C4C4C4;
    display: flex;
    align-items: center;

}

.pagination-list__item.active {
    padding: 13px 15px;
    border: 2px solid $blue;
    color: $blue;
}

.pagination-list__item a{
    display: block;
}

.aside-filter__tabs {
    display: flex;
    justify-content: space-between;
}

.aside-filter__tab {
    @include SFregular;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #C4C4C4;
    width: 50%;
    &.tab--active {
        color: $maincolor;
        span {
            @include SFbold;
            display: inline-block;
            border-bottom: 2px solid $blue;
            padding-bottom: 7px;
        }
    }
}

.aside-filter__item-drop {
    margin: 40px 0;
}

.aside-filter__item-title {
    @include SFsemibold;
    line-height: 19px;
    font-size: 16px;
    padding-left: 26px;
}

.filter__item-drop {

    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/icons/arrow-down.svg');
        left: 0;
        bottom: 5px;
        width: 12px;
        height: 8px;
   }
   &--active {
       &::before {
          transform: rotate(180deg); 
       }
   }
}

.aside-filter__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.aside-filter__content-box {
    width: 50%;
    margin-bottom: 10px;
}

.aside-filter__content-label {
    @include SFregular;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.jq-checkbox, .jq-radio{
    background: #fff;
    width: 14px;
    height: 14px;
    border: 1px solid #C4C4C4;
    border-radius: 1px;
    box-shadow: none;
    vertical-align: -1px;
    margin: 0 8px 0 0;
    &.checked{
        background: $blue;
        border: none;
    }
}


.jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    border: none;
    transform: rotate(0);  
    background-image: url('../images/icons/checked.svg');
}

.jq-radio.checked .jq-radio__div {
    width: 0;
    height: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.aside-filter__content {
    display: flex;
    flex-wrap: wrap;
}

.aside-filter__content.aside-filter__content-radio {
     flex-wrap: nowrap;
}

.irs--flat {
    width: 100%;
    margin-top: -15px;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    display: none;
}

.irs--flat .irs-max, .irs--flat .irs-min {
    top: 60px;
    padding: 0;
    color: #2F3035;
    font-size: 14px;
    line-height: 17px;
    text-shadow: none;
    background-color: #e1e4e9;
    border-radius: 0;
    background-color: transparent;
    @include BAregular;
    visibility: visible !important;
    border-radius: 0;
    text-decoration-line: underline;
    padding-left: 27px;
}

.irs-min::before, 
.irs-max::before {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    position: absolute;
    left: 0;
    color: #C4C4C4;
}

.irs-min::before {
    content: 'от';
}

.irs-max::before {
    content: 'до';
}

.irs--flat .irs-line {
    top: 25px;
    height: 1px;
    background-color: #E0E0E0;
    border-radius: 0px;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 3px;
    background-color: $blue;
}

.irs--flat .irs-handle {
    top: 22px;
    width: 8px;
    height: 8px;
    background-color: $blue;
    border-radius: 50%;
}
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background-color: transparent;
}

.aside-filter__item-list {
    margin: 60px 0 40px;
}

.filter__item-list {
    padding-top: 20px;
    border-bottom: 2px solid #C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.filter__item-listtitle {
    padding: 14px;
    font-size: 15px;
    line-height: 19px; 
    @include SFsemibold;
}

.filter__item-listselect {
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
    height: 20px;
    @include BAbold;
}

.jq-selectbox__select {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
    @include BAbold;

    height: 20px;
    padding: 0 30px 0 10px;

    border-radius: 0;
    background: transparent;
    box-shadow: none;
    border: none;
    text-shadow: none;
    &:hover {
        background: transparent;
    }
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 6x;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
}

.jq-selectbox__trigger {
    border-left: none;
    background-image: url(../images/icons/arrow-down.svg);
    bottom: 5px;
    width: 12px;
    height: 8px;
    top: 6px;
    right: 9px;
}

.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.jq-selectbox__select:active {
    box-shadow: none;
}

.jq-selectbox li:hover {
    background: rgba(107,126,172,0.05);
    color: rgba(0, 0, 0, 0.6)
}
.jq-selectbox li.selected {
    background: rgba(107,126,172,0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
    border-radius: 0;
    padding-top: 15px;
}

.filter-more {
    width: 100%;
}

.filter-more__btn {
    line-height: 17px;
    color: $blue !important;
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $blue;
    padding: 0;
}

.filter-search {
    width: 100%;
    border: 1px solid #E0E0E0;
    height: 30px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.filter-search::placeholder {
    color: #BDBEC2;

}

.btn-checked .aside-filter__item-drop{
    flex-wrap: nowrap;
}

.btn-checked .aside-filter__content-box {
    width: auto;
}